<div class="btn-group">
    <button type="button" class="btn btn-default">Acción</button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('register_get', {'uuid': uuid}) }}">Ver/Editar</a></li>
        <li><a href="">Descarga CSV</a></li>
        <li><a href="">Descarga PDF</a></li>
        <li class="divider"></li>
        <li>
            <a class="js-remove-inc-register"
               href="">
                <i class="fa fa-trash"></i>
                Borrar
            </a>
        </li>
    </ul>
</div>