{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Explotaciones <small>Listado de Explotaciones</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('index_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Explotaciones</li>
        </ol>
    </section>
{% endblock body %}