{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('entrance_new') }}" method="POST">
        <input name="entrance_path" type="text">
        <button type="submit" class="btn btn-primary">GO!</button>
    </form>
{% endblock %}