<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <title>Hello, world!</title>
</head>
<body>
<div class="container main-container">
    {% block body %}
        <p>Esto es una prueba</p>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{pdf_url}}build/manifest.json"></script>

{% endblock %}
</body>
</html>