{% extends 'base.html.twig' %}

{% block body%}
    <section class="content-header">
        <h1>Registro de Salida </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('index_dashboard') }}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="{{ path('index_register') }}"><i class="fa fa-dashboard"></i>Salida</a></li>
            <li class="active">Registro de Salida</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Información</h4>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        {% include 'outregisters/outregister/out-register-info.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 ">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Animales</h4>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        {% include 'outregisters/outregister/out-register-animals-table.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}