<form action="{{ path('delete_race') }}" method="POST" id="delete_race">
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <select id="race-select" name="race_id" class="form-control select2 js-select2">
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary btn-block js-input-delete" type="submit">Eliminar</button>
        </div>
    </div>
</form>