<form action="" method="POST" id="delete_intype">
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <select id="intype-select" class="form-control select2 js-select2">
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary btn-block js-input-delete" type="submit">Eliminar</button>
        </div>
    </div>
</form>