<div class="row">
    <div class="col-xs-12 col-md-6">
        <canvas id="razas-chart" width="300" height="300"></canvas>
    </div>
    <div class="col-xs-12 col-md-6">
        <canvas id="explotaciones-chart" width="300" height="300"></canvas>
    </div>
</div>