.action-button .btn-primary, #register-table .btn-info{
    height: 34px!important;
}

td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center;
    color:red;
}

.selected{
    background-color: darkgrey;
}
.pointable{
    cursor: pointer;
}

.swal2-popup {
    font-size: 1.4rem !important;
}
.m12{
    margin-left: .5rem;
}