{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Explotaciones <small>Editar</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('index_explotations') }}"><i class="fa fa-dashboard"></i> Explotaciones</a></li>
            <li class="active">Explotacion</li>
        </ol>
    </section>
{% endblock %}