{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Explotación <small>Editar</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('index_explotations') }}"><i class="fa fa-dashboard"></i> Explotaciones</a></li>
            <li class="active">Explotacion</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            {{ include('explotations/explotation/info.html.twig') }}
            {{ include('explotations/explotation/owner.html.twig') }}


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h3 class="box-title">Animales</h3>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="btn-group-horizontal pull-right">
                                    <a href="" type="button" class="btn btn-primary js-move-animal">Mover</a>
                                    <a href="" type="button" class="btn btn-primary">Exportar csv</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-body">
                        {% include 'explotations/explotation/animals.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

        {#
        ##### MODALS ####
        #}
        {% include 'explotations/modal/move-animal-modal.html.twig' %}
    </section>

{% endblock %}