{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Registros de Salida <small>Listado</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('index_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Registros Salida</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Tabla de Registros</h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    <button type="button"
                                            class="btn btn-primary"
                                            data-toggle="modal"
                                            data-target="#modal-add-out-register">
                                        Nuevo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                    {% include 'outregisters/registers-table.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        {# # MODALS # #}
        {{ include('outregisters/modal/add-out-register.html.twig') }}
    </section>

{% endblock body %}