<div class="table-responsive">
    <table id="out-register-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Tipo de Salida</th>
            <th>Destino</th>
            <th>Transportista</th>
            <th>Animales</th>
            <th>Fecha Salida</th>
            <th>Creado el</th>
            <th>Creado por</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
            <th>Tipo de Salida</th>
            <th>Destino</th>
            <th>Transportista</th>
            <th>Animales</th>
            <th>Fecha Salida</th>
            <th>Creado el</th>
            <th>Creado por</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
    </table>
</div>