<form action="{{ path('add_race') }}" method="POST" id="add_race" data-validator="race">
    <div class="row">
        <div class="col-xs-6 form-group">
            <label for="race_code_input">Código:</label>
            <input type="text"
                   class="form-control"
                   id="race_code_input"
                   name="race_code"
                   placeholder="Nueva Raza">
            <span class="help-block hidden"></span>
        </div>
        <div class="col-xs-6 form-group">
            <label for="race_name_input">Nombre<sup>*</sup>:</label>
            <input type="text"
                   class="form-control"
                   id="race_name_input"
                   name="race_name"
                   placeholder="Nueva Raza">
            <span class="help-block hidden">Error</span>
        </div>
    </div>
    <button class="btn btn-primary btn-block js-input-add" type="submit">Guardar</button>
</form>