<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Resumen</h3>
    </div>
    <div class="box-content">
        <div class="row">
            {% for item in totals %}
                <div class="col-lg-3 col-xs-6 js-boxes">
                    <!-- small box -->
                    {% include 'dashboard/boxes/box.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>