{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            {% for item in totals %}
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    {% include 'dashboard/boxes/box.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                {% include 'dashboard/todolist.html.twig' %}
            </div>
        </div>

    </section>
{% endblock %}