{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template text-center">
                    <h1>
                        Oops!</h1>
                    <h2>
                        Something is broken ;(</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Call you system admin!
                    </div>
                    <div class="error-actions">
                        <a href="{{ path('index_dashboard') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Dashboard </a><a href="{{ path('index_dashboard') }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}