<div class="box box-danger">
    <div class="box-header">
        <h3>Tipos de Entradas:</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <select id="in-select2" class="form-control select2  js-select2">
                <option selected="selected" value="3">Alabama</option>
                <option value="25">Alaska</option>
                <option value="26">California</option>
                <option value="27">Delaware</option>
            </select>
        </div>
    </div>
</div>