<div class="box box-danger js-box">
    <div class="box-header with-border">
        <h3>Tipos de Entradas:</h3>
    </div>
    <div class="box-body">
        {% include 'configuration/partials/forms/add_intype_form.html.twig' %}
        {% include 'configuration/partials/forms/delete_intype_form.html.twig' %}
    </div>
    {% include 'configuration/partials/overlay.html.twig' %}
</div>
