<div class="box box-danger js-box">
    <div class="box-header with-border">
        <h3 class="box-title">Razas<small>&nbsp;(* obligatorio)</small></h3>
    </div>
    <div class="box-body">
        {% include 'configuration/partials/forms/add_race_form.html.twig' %}
        {% include 'configuration/partials/forms/delete_race_form.html.twig' %}
    </div>
    {% include 'configuration/partials/overlay.html.twig' %}
</div>
