<div class="box box-danger js-box-race">
    <div class="box-header">
        <h3>Razas</h3>
    </div>

    <div class="box-body">
        <form action="" method="POST" id="add_race">
            <div class="form-group">
                <label for="race_input">Añade Raza:</label>
                <input type="text" class="form-control" id="race_input" placeholder="Nueva Raza">
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

        <div class="form-group">
            <select id="race-select" class="form-control select2 js-select2">
            </select>
        </div>
    </div>
</div>