<section id="animal-movements-tab">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="movements-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>De</th>
                                <th>Hacia</th>
                                <th>Tipo</th>
                                <th>Creado Por</th>
                                <th>Creado el</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for movement in animal.movements %}
                                <tr>
                                    <td>{{ movement.initial }}</td>
                                    <td>{{ movement.last }}</td>
                                    <td>
                                        {% if movement.type == 'in_register' %}
                                            Registro Entrada
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ movement.createdBy.username }}</td>
                                    <td>{{ movement.createdAt|date('d-m-Y') }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <em>no movements found</em>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>De</th>
                                <th>Hacia</th>
                                <th>Tipo</th>
                                <th>Creado Por</th>
                                <th>Creado el</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>