<ul class="nav nav-tabs">
    <li class="active"><a href="#sheet" data-toggle="tab" aria-expanded="false">Ficha</a></li>
    <li class=""><a href="#history" data-toggle="tab" aria-expanded="false">Historial Médico</a></li>
    <li class=""><a href="#movements" data-toggle="tab" aria-expanded="true">Movimientos</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Acciones <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </li>
    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
</ul>